/*------------------------------------*\
  #ELEMENTS

#0F1626;  Navy Blue
#AB987A; Leather
#FF533D;  Coral
#F5F5F5;  Eggshell
\*------------------------------------*/


/*------------------------------------*\
  #ELEMENTS
\*------------------------------------*/

  * {
    box-sizing: border-box;
    font-size: 1em;
  }

  html {
    background-color: #0F1626;
    box-sizing: border-box;
    width: 100%;
  }

  body {
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
  }



/*------------------------------------*\
 #FORMS
\*------------------------------------*/

  #nameForm {
    margin: auto;
    width: 100%;
    max-width: 500px;
  }

  #nameForm input {
    width: 100%;
    font-size: 2em;
    padding: 20px 10px;
  }

  #nameForm button {
    font-size: 1.1em;
  }

  #nameForm div {
    color: #F5F5F5;
    margin-bottom: 10px;
    text-align: center;
  }

  #messageForm {
    font-size: 1.1em;
    background: #0F1626;
    padding: 0px;
    min-height: 40px;
    margin-bottom: 0;
    margin-top: 15px;
    width: 100%;
    /*max-width: calc(100% - 105px);*/
    display: flex;
    opacity: 0.4;
  }

  #messageForm input {
    font-size: 1.1em;
    border: 0;
    padding: 10px;
    width: 100%;
    min-width: 100vw;
    height: 50px;
    max-width: calc(100% - 105px);
    margin-right: .5%;
    background-color: white;
    border-radius: 0px;
  }

  #messageForm button {
    display: none;
    width: 0;
  }


  /*------------------------------------*\
   #MESSAGES
  \*------------------------------------*/

  #messages {
    margin: 0;
    padding: 0px 10px;
    /*padding-right: 20px;*/
    background-color: #0F1626;
    overflow-y: scroll;
    margin-top:auto;
    width: 100%;
    overflow-x: hidden;
    display: none;
  }

  .message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .message {
    background-color: #F5F5F5;
    padding: 10px 15px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 8px;
    width: fit-content;
    max-width: 80%;
    border-radius: 5px;
    margin-bottom: 10px;
    word-break: break-all;
  }

  .update {
    color: #F5F5F5;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
  }

  .display-username {
    color: #F5F5F5;
    margin-left: 0;
    margin-right: auto;
    margin-top: 5px;
    padding-left: 3px;
  }



  .time {
    opacity: 0.7;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 0.8em;
    white-space: nowrap;
    float: right;
  }

/*------------------------------------*\
 #MODIFIERS
\*------------------------------------*/

  .right {
    margin-right: 0;
    margin-left: auto;
    background-color: #FF533D;
    color: #F2F2F2;
  }




/*------------------------------------*\
 #DESKTOP STYLES
\*------------------------------------*/
/* applies only if the screen is wider than 768px*/
@media screen and (min-width: 768px) {

  body {
    margin: 0px 105px;
  }

  #messages {
    padding: 0px;
    padding-right: 200px;
    width: calc(100% + 200px);
  }

  #messageForm input {
    border-radius: 5px;
    min-width: 100px;
  }

  #messageForm button {
    font-size: 1.1em;
    min-width: 110px;
    background: #AB987A;
    border: none;
    padding: 10px;
    color: #F2F2F2;
    border-radius: 5px;
    margin-right: 105;
    display: block;
    height: 50px;
  }

  .message {
    margin-bottom: 5px;
  }
}
